img{
    display: block;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 400px;
    border: solid 2px black;
}
div{
    text-align: center;
    margin-top:  10px;
}
button{
     border: solid 2px black;
     padding: 5px;
}